<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Building Efficiency Utility</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Building Efficiency Utility</h1>
    <p>
        Simply enter in building characterisitcs, then click 'Predict' to generate heating and cooling load. 
    </p>
    <form>
        <label for='relative_compactness'>Relative Compactness</label>
        <input type="text" id='relative_compactness' placeholder="relative compactness">
        <label for='surface_area'>Surface Area</label>
        <input type="text" id='surface_area' placeholder='surface area'>
        <label for='wall_area'>Wall Area</label>
        <input type="text" id='wall_area' placeholder='wall area'>
        <label for='roof_area'>Roof Area</label>
        <input type="text" id='roof_area' placeholder='roof area'>
        <label for='overall_height'>Overall Height</label>
        <input type="text" id='overall_height' placeholder='overall height'>
        <label for='orientation'>Orientation</label>
        <input type="text" id='orientation' placeholder='orientation'>
        <label for='glazing_area'>Glazing Area</label>
        <input type='text' id='glazing_area' placeholder='glazing area'>
        <label for='glazing_area_distribution'>Glazing Area Distribution</label>
        <input type='text' id='glazing_area_distribution' placeholder='glazing area distribution'>
    </form>
    <button id="predict_button" class="button">Predict</button>
    <form>
        <textarea id="heating_load" placeholder="heating load" rows="1" cols="10"></textarea>
        <textarea id="cooling_load" placeholder="cooling load" rows="1" cols="10"></textarea>
    </form>
    <script src="/static/script.js"></script>
</body>
</html>