<!-- 
    @author: Max Rivera
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Building Efficiency Utility</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Building Efficiency Utility</h1>
    <p>
        Simply enter in building characterisitcs, then click 'Predict' to generate heating and cooling load. 
    </p>
    <form id='form'>
        <div>
            <label for='relative_compactness' class="label">Relative Compactness</label>
            <input type="text" id='relative_compactness'>
        </div>
        <div>
            <label for='surface_area' class="label">Surface Area</label>
            <input type="text" id='surface_area'>
        </div>
        <div>
            <label for='wall_area' class="label">Wall Area</label>
            <input type="text" id='wall_area'>
        </div>
        <div>
            <label for='roof_area' class="label">Roof Area</label>
            <input type="text" id='roof_area'>
        </div>
        <div>
            <label for='overall_height' class="label">Overall Height</label>
            <input type="text" id='overall_height'>
        </div>
        <div>
            <label for='orientation' class="label">Orientation</label>
            <input type="text" id='orientation'>
        </div>
        <div>
            <label for='glazing_area' class="label">Glazing Area</label>
            <input type='text' id='glazing_area'>
        </div>
        <div>
            <label for='glazing_area_distribution' class="label">Glazing Area Distribution</label>
            <input type='text' id='glazing_area_distribution'>
        </div>
        
    </form>
    <button id="predict_button" class="button">Predict</button>
    <form>
        <div>
            <label for='heating_load' class="label">Heating Load</label>
            <textarea id="heating_load" rows="1"></textarea>
        </div>
        <div>
            <label for='cooling_load' class="label">Cooling Load</label>
            <textarea id="cooling_load" rows="1"></textarea>
        </div>
    </form>
    <script src="/static/script.js"></script>
</body>
</html>